* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    margin:60px auto;
    width: 80%;
}

.main-header .container .navbar img {
    height: 25px;
}
.main-header .container .navbar{
    display:flex;
    justify-content: space-between;
    align-content:center;
}
.main-header .container .navbar ul {
    display:flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-size:12px;
    margin: 0
   }

.main-header .container .navbar ul li {
    list-style: none;
    margin-left:30px;
  
  
}
.main-header .container .navbar a:hover {
    color: #0F1137;
   }

a{
    text-decoration:none;
    color: #9F9FB7;
    font-weight:bold;
}
  

#register ul li hr{
    background: #9F9FB7;
    border-radius: 1px;
    width: 30px;
}

#register ul li{
    margin-left: 6px;
}

.search {
 margin:0 auto;
 width:80%;
 height: 560px;
 padding:0;
}

.search .container{
    display:flex;
    justify-content: center;
    align-items:center;
    background: #E1EAF9;
    border-radius: 2rem;
    height: 520px;
}

.search .container >div {
    width: 40%;
}

.search .container div> h1{
font-weight: bold;
color: #0F1137;
align-items: center;
padding: 0 5rem 5rem;
font-style: normal;
font-size: 48px;
line-height: 54px;
width:540px;
letter-spacing: -1px;
color: #0F1137;



}

.search .container>div h1 span {
    color: #0601fd;
}

.search .container>div form{
    padding:0 5rem;
    position: relative;
  }

  .search .container>div form input{
    
background: #FFFFFF;
border-radius: 12px;
border:none;
width: 470px;
height: 70px;
outline: none;
}

.search .container>div form button{
    border:none;
    background: #FFFFFF;
    position: absolute;
    top:0;
    right:0;
    padding-top:2rem;
    outline: none;
   }

   .search .container img {
    height: 65.5vh;
    margin: auto;
    margin-top: 6.5rem;
    margin-right: 8rem;
}

.search .container>div form input::placeholder {
    font-size: 1rem;
    padding-left:30px;
}

.category{
    margin-left: 9rem;
    margin-top:8rem;
}
.category-title{
    display: flex;
    justify-content: space-between;
}
.category-title .view {
    color: #9F9FB7;
    margin-right: 9rem;

}
.box-icon{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    margin-top:45px;
    grid-gap:2rem;
    margin-right:8rem;
}
.box{
    background-color: #f0f5fd;
    width:170px;
    height:170px;
    border-radius: 20px;
    padding: 3rem;
    text-align: center;
  }

 .box:hover {
    width:170px;
    height:190px;
    color: #fff;
    background-color: #0601fc;
   }
.box h3{
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-align: center;
padding-top:1rem;

}

.filters .container{
    display:flex;
    margin-top:12rem;
    margin-left:9rem;
}

.feature h4{
   
    color: #9f9fb7;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 16px;
   line-height: 20px;


}
.feature form{
    display: flex;
    flex-direction: column;
    padding-top:40px;
    
}
.feature label{
    line-height: 2rem;
    color: #0F1137;
    font-weight: 600;
    font-size: 16px;
   
    
}
.feature input[type="checkbox"]{
  margin-right: 12px;


}
/*for example*/
.check-box{
    display: inline-flex;
}
.input-check{
    display:none;
    
}

.check-icon{
width:1.2em;
height: 1.2em;
border: 2px solid #9F9FB7;
border-radius: 5px;
margin-top:6px;
margin-right:10px;
display:flex;
align-items: center;
justify-content: center;

}

.check-icon::after{
    content:"\2714";
    color:#ffffff;
}
.input-check:checked + .check-icon{
    background: #0601FC;
    border-color: #0601FC;
}

.list{
    margin-top: 1rem;
   display: flex;
    flex-direction: column;
  
    margin-left: 15rem;
    width:100%;
    position: relative;
}
#paragraph-end{
    position: absolute;
    padding-top:16rem;
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #9F9FB7;
}

.list .f-job{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -1px;
     color: #0F1137;
    padding-bottom:2rem;


}
.list .job {
   
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -1px;
    
    color: #0F1137;
    
}

.list ul{
width: 100%;
list-style-type: none;
}
.list ul li {
width:100%;
display: flex;
align-items:center;
margin: 2rem 0;
background: #FFFFFF;
border: 2px solid #DCDCE0;
border-radius: 20px;
width: 770px;
height: 130px;
padding-right: 2rem;

}
.list ul .none {
    border:none;
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(15, 17, 55, 0.2);
border-radius: 20px;
    
}
.list ul li img {
    padding: 2rem
    
}
.list .list-items{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
}

.list .list-items div{
    display:flex;   
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem
}
.list-items div h3 {

    color: #0f1137;
}
.list-items div small {
    color: #9f9fb7;
}
.list-items div span {
    background: #0601fc;
    font-size: .7rem;
    color: #fff;
    border-radius: .3rem .2rem;
    text-align: center;
    padding: .3rem;
    margin-bottom: 3px
}
.list-items div span.yellow {
    background-color: #fd9001;
}
.list-items div:nth-child(1) {
    align-items: flex-start;
}
.main-footer{
    width:100%;
    margin:0;
}
.main-footer .content{
    display: flex;
    justify-content: space-between;
    padding:0 9rem;
    margin-top:15rem;
}
.main-footer .content h4{
padding-bottom:3rem;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #9F9FB7;


}
.main-footer .content ul {
list-style-type: none;


}
.main-footer .content ul li{
padding-bottom:1rem;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #0F1137;

}
.main-footer .content p{
 font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #0F1137;
width:300px;

}
